{% extends 'base.html' %}

<!-- 
  content is the name we give to our block by following the naming convention
  let's put any random contents here just by copying the same content from the website: 
-->
{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <h2>{{ page_title }}</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, quaerat excepturi dolore natus modi
                dolorum ipsam
                architecto unde animi tempore rem sit quidem odio amet nobis error pariatur veritatis officiis.</p>
        </div>
    </div>
</div>

{% endblock %}